@import "tailwindcss";

:root {
    --background: #f7f9ec;
    --foreground: #0f0901;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-serif: var(--old-style-now);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #11100f;
        --foreground: #ecf9ed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
::selection {
    background-color: #4cff00; /* Bright green color */
    color: #0f0901;
}
